.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  margin: -1px;
}

.body {
  background-color: lightblue;
}

.navbar {
  background-color: #376ab6;
}

.logo {
  max-width: 100px;
}

.nav-item a {
  color: rgba(0, 230, 81, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-item a:hover,
.nav-item a:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-item + .nav-item {
  margin-left: 1rem;
}

.banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/shoe-banner.jpg");
  background-size: 1500px;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}

.banner .row {
  background: aqua;
  padding: 6rem 0 4rem;
  color: rgb(195, 84, 84);
}

.containerOfCards {
  background-color: red;
  padding: 6rem 0 4rem;
}

.col-md-2 {
  background-color: yellow;
  padding-top: 4%;
}

.card-img-top {
  width: 100%;
  height: 10vw;
}

.card-text {
  background-color: blueviolet;
  padding: 10%;
}

.navbar-brand {
  background-color: black;
  padding-left: 10%;
}

.card {
  background-color: #376ab6;
  height: 100%;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.btn-btn-primary {
  text-align: center;
}

.product-details {
  margin-top: 8rem;
  margin-bottom: 4rem;
  padding: 0 2rem;
  gap: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.description-names {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  position: relative;
  text-decoration: none;
}
