.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  margin: -1px;
}

.navbar {
  background-color: #376ab6;
}

.logo {
  max-width: 100px;
}

.nav-item a {
  color: rgba(133, 167, 199, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-item a:hover,
.nav-item a:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-item + .nav-item {
  margin-left: 1rem;
}

.banner {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/adidas-kaptir.jpg");
  background-attachment: fixed;
}

.banner .row {
  padding: 6rem 0 4rem;
}

.containerOfCards {
  padding: 6rem 0 4rem;
}

.col-sm-4 {
  padding-top: 2%;
}

.navbar-brand {
  padding-left: 10%;
}

.card {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.product-details {
  margin-top: 8rem;
  margin-bottom: 4rem;
  padding: 0, 2rem;
  gap: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.description-names {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  position: relative;
  text-decoration: none;
}
